body{
    margin: 0;
    padding: 0;
    background: url(cosmos3.jpg); no-repeat;
    background-size: cover;
}
.box{
    width: 450px;
    background: rgba(0,0,0, 0.5);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 8px
}
.box p{
    text-align: justify;
}
ul{
    margin: 0;
    padding: 0;  
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box li a{
    color: white;
    text-decoration: none;
    font-size: 50px;
    transition: all ease-in-out 250;
}
.box li a:hover{
    color: #b9b9b9;
}
.box table{ 
    margin-bottom: 25px;
}
.box table a{
    color: white;
    transition: all ease-in-out 250;
}
.box table a:hover{
    color: #b9b9b9;
}

.boxP{
    background: rgba(0,0,0, 0.5);
    padding: 0px;
    margin: 5px;
    color: white;
    font-family: 'Century Gothic', sans-serif; 
    font-size: 30px;
}
.cropped{
    width: 40%px;
    height: 250px;
    overflow: hidden;
}
.cropped img{
    width: 45%;
}

.Rex{
    
    width: 29%;
    float: left;
    background: rgba(0,0,0, 0.5);
    padding-bottom:20px;
    padding-top: 20px;
    padding-left: 8px;
    padding-right: 8px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    
    color: white;
    font-family: 'Century Gothic', sans-serif;
    text-align: center;
    
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.Rex p{text-align: left;}


































